body {
  background: rgb(123, 222, 212);
  font-family: "Poppins", sans-serif;
}

header {
  color: rgb(36, 29, 29);
  text-align: center;
}

#titulo-imagem {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  width: 70px;
  margin-right: 2rem;
}

.container-lista {
  display: flex;
  justify-content: center;
}

#lista-lembretes {
  margin-top: 5rem;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 29, 29);
}

#reg-lembrete {
  background: white;
  border-radius: 5px;
  padding: 15px;
  width: 500px;
  height: 50px;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(95, 93, 93);
  font-family: "Poppins", sans-serif;
}

input {
  margin-top: 1rem;
  width: 15rem;
  height: 1rem;
}

button {
  background: rgb(91, 88, 88);
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  border-radius: 5px;
  border-color: aliceblue;
}

.btn {
  background: red;
  width: 60px;
  height: 25px;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  margin-left: 30rem;
}

.btn1 {
  background: rgb(34, 87, 23);
  width: 79px;
  height: 25px;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  margin-left: 0.5rem;
}

#lista-lembretes h1 {
    
    margin-left: 40rem;
}

/* aqui esta o segredo
    foi colocado o justify-content para deixar o texto e a div containerbtns um de 
    cada lado
*/
li {
  background: rgb(238, 239, 237);
  display: flex;
  justify-content: space-between;  
  padding: 0.3rem;
}

div {
  text-align: center;
}
