<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lembretes</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
</head>

<body>

    <header class="header">
        <div id="titulo-imagem">
            <div id="imagem">
                <img src="/assets/note-g2bf35f03a_1280.png" alt="">
            </div>
            <h1> Lembretes</h1>

        </div>
        
        <h2>O que você gostaria de lembrar?</h2>

    </header>
 


    <section>
      
        <div id="reg-lembrete">
            <input type="text" id="txt-lemb">
            <button onclick="clicar()" id="botao">Registrar lembrete</button>
        </div>
    
    
    </section>

    <section id="lista-lembretes">
        <h1>Lista de lembretes</h1>
<div class="container-lista">
    <ul id="lista">
    
       
    </ul>
  
</div>
    </section>
    <footer>


    </footer>
    <script src="scripts/script.js"></script>
    
</body>
</html>